[
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&password=test&auth_type=password",
    "status": 200,
    "response": {
      "authToken": "EfBybDftKA94p_2WvCpVzxShYesWGNg0X8m2xjjZcw499MWo74CAEM",
      "issuedAt": 1545919883446,
      "endPoint": "https://api5-009.responsys.net"
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag03-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-8bdd245c78761042b17d9b56 0",
      "Thu, 27 Dec 2018 14:11:23 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/campaigns/test/email",
    "body": {
      "recipientData": [
        {
          "recipient": {
            "emailAddress": "tsuarez@comparaonline.com",
            "emailFormat": "HTML_FORMAT",
            "mobileNumber": "951349394"
          },
          "optionalData": [
            {
              "name": "FIST_NAME",
              "value": "name"
            },
            {
              "name": "LAST_NAME",
              "value": "last name"
            }
          ]
        }
      ]
    },
    "status": 200,
    "response": [
      {
        "errorMessage": null,
        "success": true,
        "recipientId": 364470825
      }
    ],
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag01-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-8cdd245c281b96e6da3f0793 0",
      "Thu, 27 Dec 2018 14:11:24 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/campaigns/test/email",
    "body": {
      "recipientData": [
        {
          "recipient": {
            "emailAddress": "tsuarez@comparaonline.com",
            "emailFormat": "HTML_FORMAT",
            "mobileNumber": "951349394",
            "listName": {
              "objectName": "CONTACTS_LIST",
              "folderName": "CONTACTS_LIST"
            }
          },
          "optionalData": [
            {
              "name": "FIST_NAME",
              "value": "name"
            },
            {
              "name": "LAST_NAME",
              "value": "last name"
            }
          ]
        }
      ]
    },
    "status": 401,
    "response": {
      "type": "",
      "title": "Not a valid token",
      "errorCode": "INVALID_TOKEN",
      "detail": "Not a valid authentication token",
      "errorDetails": []
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag03-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-8edd245cad806e3fc28eac0e 0",
      "Thu, 27 Dec 2018 14:11:26 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&password=test&au[...]
