[
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/campaigns/%5BTEST%5D_Masivo_Cyber_Nov17_test/email",
    "body": {
      "recipientData": [
        {
          "recipient": {
            "customerId": "5634169",
            "emailAddress": "lpavetti@comparaonline.com",
            "emailFormat": "HTML_FORMAT",
            "mobileNumber": "951349394"
          }
        }
      ]
    },
    "status": 401,
    "response": {
      "type": "",
      "title": "Authentication token expired",
      "errorCode": "TOKEN_EXPIRED",
      "detail": "Token expired",
      "errorDetails": []
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag02-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-f822125a040a0d9f05e759d5 0",
      "Mon, 20 Nov 2017 00:34:00 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://login5.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&password=test&auth_type=password",
    "status": 200,
    "response": {
      "authToken": "Ef3ytY8q0wKLPf6KLvTIlI8rOCiMfjnjdW5W3HpWdQdXWya3y0",
      "issuedAt": 1511138072187,
      "endPoint": "https://api5-009.responsys.net"
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag01-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-1823125a64fb3ff10306a4aa 0",
      "Mon, 20 Nov 2017 00:34:32 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/campaigns/%5BTEST%5D_Masivo_Cyber_Nov17_test/email",
    "body": {
      "recipientData": [
        {
          "recipient": {
            "customerId": "5634169",
            "emailAddress": "lpavetti@comparaonline.com",
            "emailFormat": "HTML_FORMAT",
            "mobileNumber": "951349394"
          }
        }
      ]
    },
    "status": 200,
    "response": [
      {
        "errorMessage": null,
        "recipientId": 274187665,
        "success": true
      }
    ],
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag02-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-1a23125aed0e2f08666b7c90 0",
      "Mon, 20 Nov 2017 00:34:34 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://login5.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&passwor[...]
