[
  {
    "scope": "https://login5.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&password=test&auth_type=password",
    "status": 200,
    "response": {
      "authToken": "EfuC5AJTPQHdXESIcB8KrTVdyPzQ7HMwZ4EoN4IYYoJdWkhFYw",
      "issuedAt": 1524095673342,
      "endPoint": "https://api5-009.responsys.net"
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag01-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-b9dad75ac7c608e24a6f7697 0",
      "Wed, 18 Apr 2018 23:54:33 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/campaigns/%5BTEST%5D_Masivo_Cyber_Nov17_test/email",
    "body": {
      "recipientData": [
        {
          "recipient": {
            "emailAddress": "dev@comparaonline.com",
            "emailFormat": "HTML_FORMAT",
            "mobileNumber": "951349394"
          },
          "optionalData": [
            {
              "name": "data_1",
              "value": "value_1"
            },
            {
              "name": "data_2",
              "value": "value_2"
            },
            {
              "name": "data_3",
              "value": "value_3"
            }
          ]
        }
      ]
    },
    "status": 200,
    "response": [
      {
        "errorMessage": null,
        "success": true,
        "recipientId": 1477825
      }
    ],
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag02-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-badad75a32c82761e847a330 0",
      "Wed, 18 Apr 2018 23:54:34 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/campaigns/%5BTEST%5D_Masivo_Cyber_Nov17_test/email",
    "body": {
      "recipientData": [
        {
          "recipient": {
            "emailAddress": "emailtest@comparaonline.com"
          }
        }
      ]
    },
    "status": 401,
    "response": {
      "type": "",
      "title": "Not a valid token",
      "errorCode": "INVALID_TOKEN",
      "detail": "Not a valid authentication token",
      "errorDetails": []
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag03-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-bbdad75a9026099950f4036a 0",
      "Wed, 18 Apr 2018 23:54:35 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://login5.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&password=test&auth[...]
