[
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&password=test&auth_type=password",
    "status": 200,
    "response": {
      "authToken": "E31JIvfu33SM9S008I3IU0z7zLYrJkvpkRDEjIzDLHSnIQ6IKvlKWM",
      "issuedAt": 1553201688159,
      "endPoint": "https://api5-009.responsys.net"
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag02-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-18fa935c4cd97710d4b242cf 0",
      "Thu, 21 Mar 2019 20:54:48 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/folders/test_api/suppData",
    "body": {
      "table": {
        "objectName": "test_api_responsys"
      },
      "primaryKeys": [
        "offerId"
      ],
      "fields": [
        {
          "fieldName": "offerId",
          "fieldType": "INTEGER",
          "dataExtractionKey": false
        },
        {
          "fieldName": "offerName",
          "fieldType": "STR100",
          "dataExtractionKey": false
        },
        {
          "fieldName": "offerEmail",
          "fieldType": "STR500",
          "dataExtractionKey": false
        },
        {
          "fieldName": "offerDate",
          "fieldType": "TIMESTAMP",
          "dataExtractionKey": false
        }
      ]
    },
    "status": 200,
    "response": true,
    "rawHeaders": [
[...]
