[
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&password=test&auth_type=password",
    "status": 200,
    "response": {
      "authToken": "EbOX2d2zQVUXI_4gpeShW0wPGM6HsjzfIe7K4Do4CfdUj6gEVt4baM",
      "issuedAt": 1553256056695,
      "endPoint": "https://api5-009.responsys.net"
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag01-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-78ce945c205443099ca52d45 0",
      "Fri, 22 Mar 2019 12:00:56 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "GET",
    "path": "/rest/api/v1.3/folder/test_api/suppData/test_api_responsys?ft=PK",
    "body": "",
    "status": 200,
    "response": {
      "fields": [
        {
          "fieldName": "OFFERID",
          "fieldType": "INTEGER"
        }
      ],
      "suppData": {
        "folderName": "test_api",
        "objectName": "test_api_responsys"
      },
      "links": [
        {
          "rel": "self",
          "href": "/rest/api/v1.3/folder/test_api/suppData/test_api_responsys?ft=PK",
          "method": "GET"
        },
        {
          "rel": "mergeTableMembers",
          "href": "/rest/api/v1.3/folders/test_api/suppData/test_api_responsys/members",
          "method": "POST"
        },
        {
          "rel": "retrieveTableMembers",
          "href": "/rest/api/v1.3/folders/test_api/suppData/test_api_responsys/members",
          "method": "GET"
        },
        {
          "rel": "deleteTableMembers",
          "href": "/rest/api/v1.3/folders/test_api/suppData/test_api_responsys/members",
          "method": "DELETE"
        }
      ]
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag02-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-79ce945c034fadedc61f035d 0",
      "Fri, 22 Mar 2019 12:00:57 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "GET",
    "path": "/rest/api/v1.3/folder/test_api/suppData/test_api_responsys_invalid?ft=PK",
    "body": "",
    "status": 401,
    "response": {
      "type": "",
      "title": "Not a valid token",
      "errorCode": "INVALID_TOKEN",
      "detail": "Not a valid authentication token",
      "errorDetails": []
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag01-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-7ace945c164b2b3501161a93 0",
      "Fri, 22 Mar 2019 12:00:58 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&password=test&au[...]
