[
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&password=test&auth_type=password",
    "status": 200,
    "response": {
      "authToken": "E7ep9rzZTirMPDkdfawH8wSue9pccN5MH3bIPwiaIY8-9ZUvIPDSQ0",
      "issuedAt": 1553255838691,
      "endPoint": "https://api5-009.responsys.net"
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag02-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-9ecd945cb02e68646e5d0577 0",
      "Fri, 22 Mar 2019 11:57:18 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/folders/test_api/suppData/test_api_responsys/members",
    "body": {
      "recordData": {
        "fieldNames": [
          "OFFERID",
          "OFFERNAME",
          "OFFEREMAIL",
          "OFFERDATE"
        ],
        "mapTemplateName": null,
        "records": [
          [
            "1",
            "test3",
            "prueba@comparaonline.com",
            "2019-03-22T11:54:40.531Z"
          ],
          [
            "2",
            "test4",
            "prueba2@comparaonline.com",
            "2019-03-22T11:54:40.531Z"
          ]
        ]
      },
      "insertOnNoMatch": true,
      "updateOnMatch": "REPLACE_ALL"
    },
    "status": 200,
    "response": {
      "recordData": {
        "fieldNames": [
          "OFFERID",
          "OFFERNAME",
          "OFFEREMAIL",
          "OFFERDATE"
        ],
        "records": [
          [
            "1",
            "test3",
            "prueba@comparaonline.com",
            "2019-03-22T11:54:40.531Z"
          ],
          [
            "2",
            "test4",
            "prueba2@comparaonline.com",
            "2019-03-22T11:54:40.531Z"
          ]
        ],
        "mapTemplateName": null
      },
      "insertOnNoMatch": true,
      "updateOnMatch": "REPLACE_ALL",
      "matchColumnNames": null,
      "links": [
        {
          "rel": "self",
          "href": "/rest/api/v1.3/folders/test_api/suppData/test_api_responsys/members",
          "method": "POST"
        }
      ]
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag01-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-9fcd945cbe2a2cd3fffcc892 0",
      "Fri, 22 Mar 2019 11:57:19 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/folders/test_api/suppData/test_api_responsys/members",
    "body": {
      "recordData": {
        "fieldNames": [
          "OFFERID",
          "OFFERNAME",
          "OFFEREMAIL",
          "OFFERDATE"
        ],
        "mapTemplateName": null,
        "records": [
          [
            "1w",
            "test1",
            "prueba@comparaonline.com",
            "2019-03-22T11:54:40.531Z"
          ]
        ]
      },
      "insertOnNoMatch": true,
      "updateOnMatch": "REPLACE_ALL"
    },
    "status": 401,
    "response": {
      "type": "",
      "title": "Not a valid token",
      "errorCode": "INVALID_TOKEN",
      "detail": "Not a valid authentication token",
      "errorDetails": []
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag01-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-a0cd945ce32a37a28ff91491 0",
      "Fri, 22 Mar 2019 11:57:20 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&password=test&au[...]
