[
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/campaigns/%5BTEST%5D_Masivo_Cyber_Nov17_test/email",
    "body": {
      "recipientData": [
        {
          "recipient": {
            "customerId": "5634169",
            "emailAddress": "lpavetti@comparaonline.com",
            "emailFormat": "HTML_FORMAT",
            "mobileNumber": "951349394"
          }
        }
      ]
    },
    "status": 401,
    "response": {
      "type": "",
      "title": "Authentication token expired",
      "errorCode": "TOKEN_EXPIRED",
      "detail": "Token expired",
      "errorDetails": []
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag01-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-5d88185a1388a12cd754f7b8 0",
      "Fri, 24 Nov 2017 21:00:13 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://login5.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&password=test&auth_type=password",
    "status": 200,
    "response": {
      "authToken": "E4j6mU98tZ8dXvApuop5sw0lkUJ8myzi1Pg9j6Rsg0cj0NdGuM",
      "issuedAt": 1511557245132,
      "endPoint": "https://api5-009.responsys.net"
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag01-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-7d88185afd9009524197fac0 0",
      "Fri, 24 Nov 2017 21:00:45 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/campaigns/%5BTEST%5D_Masivo_Cyber_Nov17_test/email",
    "body": {
      "recipientData": [
        {
          "recipient": {
            "customerId": "5634169",
            "emailAddress": "lpavetti@comparaonline.com",
            "emailFormat": "HTML_FORMAT",
            "mobileNumber": "951349394"
          }
        }
      ]
    },
    "status": 200,
    "response": [
      {
        "errorMessage": null,
        "recipientId": 274187665,
        "success": true
      }
    ],
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag01-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-7d88185a2e918e48a981920c 0",
      "Fri, 24 Nov 2017 21:00:46 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://login5.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&passwor[...]
