[
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/campaigns/%5BTEST%5D_Masivo_Cyber_Nov17_test/email",
    "body": {
      "recipientData": [
        {
          "recipient": {
            "customerId": "5634169",
            "emailAddress": "lpavetti@comparaonline.com",
            "emailFormat": "HTML_FORMAT",
            "mobileNumber": "951349394"
          }
        }
      ]
    },
    "status": 401,
    "response": {
      "type": "",
      "title": "Not a valid token",
      "errorCode": "INVALID_TOKEN",
      "detail": "Not a valid authentication token",
      "errorDetails": []
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag01-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-d4ab255ae220d39b664b9da4 0",
      "Mon, 04 Dec 2017 20:11:00 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://login5.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&password=test&auth_type=password",
    "status": 200,
    "response": {
      "authToken": "E9hzq9q0RbT6uEnwdDnXzcm9UZAP7FS9RY5Iu-SuGWAaEdpEXM",
      "issuedAt": 1512418292023,
      "endPoint": "https://api5-009.responsys.net"
    },
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag01-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-f4ab255a8228916e4d85acaa 0",
      "Mon, 04 Dec 2017 20:11:32 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://api5-009.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/campaigns/%5BTEST%5D_Masivo_Cyber_Nov17_test/email",
    "body": {
      "recipientData": [
        {
          "recipient": {
            "customerId": "5634169",
            "emailAddress": "lpavetti@comparaonline.com",
            "emailFormat": "HTML_FORMAT",
            "mobileNumber": "951349394"
          }
        }
      ]
    },
    "status": 200,
    "response": [
      {
        "errorMessage": null,
        "recipientId": 274187665,
        "success": true
      }
    ],
    "rawHeaders": [
      "Max-Forwards",
      "20",
      "1.0 oag02-ri5.ri5.dc2.responsys.com ()",
      "close",
      "X-CorrelationID",
      "Id-f4ab255a85fafc75173ae54f 0",
      "Mon, 04 Dec 2017 20:11:32 GMT",
      "Apache",
      "Content-Type",
      "application/json;charset=UTF-8"
    ]
  },
  {
    "scope": "https://login5.responsys.net:443",
    "method": "POST",
    "path": "/rest/api/v1.3/auth/token",
    "body": "user_name=test&passwor[...]
